---
import BaseLayout from "../layouts/BaseLayout.astro";
import LogsPostCard from "../components/LogsPostCard.astro";
import TerminalHeading from "../components/ui/TerminalHeading.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BaseLayout
  title="gourav | logs"
  description="My thoughts, tutorials, and articles on systems programming."
>
  <main
    class="group mx-auto mb-8 max-w-3xl flex-1 space-y-8 px-6 text-foreground/80"
  >
    <TerminalHeading command="ls logs" size="text-2xl" />

    <div class="space-y-8">
      {
        posts.map((post) => (
          <LogsPostCard
            title={post.data.title}
            description={post.data.description}
            uploadDate={post.data.pubDate}
            tags={post.data.tags}
            link={`/blog/${post.id}`}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>
